################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/ExcelReport/.vs
/ExcelReport/ExcelReportExe/bin/Debug/net10.0
/ExcelReport/ExcelReportExe/obj
/ExcelReport/ExcelReportLib/bin/Debug/net10.0
/ExcelReport/ExcelReportLib/obj
/ExcelReport/ExcelReportLibTest/bin/Debug/net10.0
/ExcelReport/ExcelReportLibTest/obj
/.agents
# /.claude