################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/ExcelReport/.vs
/ExcelReport/ExcelReportExe/bin
/ExcelReport/ExcelReportExe/obj
/ExcelReport/ExcelReportLib/bin
/ExcelReport/ExcelReportLib/obj
/ExcelReport/ExcelReportLibTest/bin
/ExcelReport/ExcelReportLibTest/obj
/ExcelReport/ExcelReportLib.Tests/bin
/ExcelReport/ExcelReportLib.Tests/obj
/.agents