################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ExcelReport/.vs/
/ExcelReport/ExcelReportExe/bin/
/ExcelReport/ExcelReportExe/obj/
/ExcelReport/ExcelReportLib/bin/
/ExcelReport/ExcelReportLib/obj/
/.vs/
